html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start of the css */

body {
  background-color: rgb(237, 240, 241);
}

nav {
  display: flex;
  height: 40px;
  padding: 5px 30px 20px 950px;
}

a {
  text-decoration: none;
  color: rgb(20, 95, 129);
}

p {
  padding: 5px;
}

input {
  width: 330px;
  height: 25px;
  margin-bottom: 30px;
  border-color: rgb(216, 215, 215);
  border-width: 1px;
  border-radius: 3px;
}

.create-account {
  width: 340px;
  height: 45px;
  background-color: rgb(31, 140, 212);
  color: white;
  border-radius: 4px;
}

.button {
  padding-bottom: 20px;
}

.nav-text {
  padding-right: 5px;
  font-size: 14px;
  color: rgb(85, 85, 85);
}

.sign-in {
  padding-left: 10px;
}

.signin-button {
  width: 95px;
  height: 35px;
  background-color: rgb(31, 140, 212);
  border-radius: 4px;
  color: white;
}

.form-container {
  background-color: white;
  border-style: solid;
  border-color:rgb(197, 197, 197);
  border-width: 2px;
  border-radius: 3px;
  margin: 0 auto;
  width: 400px;
}

.content {
  padding: 35px;
}

h1 {
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
}

.paragraph-info {
  padding-bottom: 20px;
  text-align: center;
  font-size: 15px;
  color: rgb(119, 117, 117);
}

.captcha-container {
  background-color: rgb(238, 238, 238);
  text-align: center;
  font-size: 12px;
}

.captcha-info {
  padding-top: 20px;
}

.links a {
  color: rgb(119, 117, 117);
}

.legal {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 13px;
  color: rgb(119, 117, 117)
}

footer {
 background-color: rgb(255, 255, 255);
 height: 50px;
 padding-top: 30px;
 padding-left: 20px;
 font-size: 15px;
}
